body{
    padding: 0;
    margin: 0;
    font-family:monospace
    
    
}

.top {
    display: flex;
    flex: 1;
    
    background-color: rgba(247,247,247,255);
    padding-top: 1vw;
    padding-bottom: 1vw;

    
}
.nav{
    display: flex;
    flex: 3;
    color: rgb(0, 0, 0);
    align-items: center;
    text-decoration-line: none;
    margin: 1vw;
    justify-content: space-around;
    font-size: 1.7vw;


}
img#logo { 
    height: 9vw;
    width: auto;
    margin-left: 2vw;
    margin-right: 14vw;
}
h1.left{
    font-size: 3vw;
    font-style: normal;
    margin: 0vw;
}
p.left{
    font-size: 2vw;
    margin-right: 10vw;
}
.info{
    background-color: rgb(184, 169, 151);;
    display: flex;
    padding: 2vw 0 2vw 2vw;
}
.left{
    
    flex: 1;
}
img#right{

    width: auto;
    height: 24vw;
    margin-right: 5vw;
    

}
.middle{
text-align: center;
font-size: 2vw;

}

.product{
    display: flex;
    justify-content: center;
}
img.product{
    height: 40vw;
    width: auto;
    
}
.Items{
    
    display: flex;
    flex-direction: column;
    
    
}


.text{
    font-size: 3vw;
    background-color: bisque;
    padding: 2vw 8vw 2vw 8vw;
    
}

footer{
    padding: 9vw;
    background-color: rgba(75, 85, 40, 0.808);
}
.maps{

}